extends layouts/app
block scripts
    script.
        fetch("/config/kastelen.js").then(function(req){
            return req.json();
        }).then(function(afstanden){
            window.afstanden = afstanden;
            jQuery(function($){
                var kastelenLijst = document.querySelector("#kastelen");
                var resultatenTabel = document.querySelector("table#results tbody");

                var wereld = "gras";
                var kasteelNaam = window.afstanden.filter(function(kasteel){
                    return kasteel.wereld == wereld;
                })[0].name;

                function filterKastelen(){
                    kastelenLijst.innerHTML = "";
                    wereldKastelen = window.afstanden.filter(function(kasteel){
                        return kasteel.wereld == wereld;
                    });
                    wereldKastelen.map(function(afstand){
                        $("<option>").text(afstand.name).appendTo(kastelenLijst);
                    });

                    $("#kastelen").change(function(){
                        kasteelNaam = this.selectedOptions[0].value;
                        updateResults();
                    });
                }

                function updateResults(){
                    var basisKasteel = wereldKastelen.filter(function(kasteel){
                        return kasteel.name == kasteelNaam;
                    })[0];
                    var afstanden = wereldKastelen.filter(function(kasteel){
                        return kasteel.name != kasteelNaam;
                    }).map(function(kasteel){
                        kasteel.afstand = Math.sqrt(Math.pow(Math.abs(kasteel.X - basisKasteel.X), 2) + Math.pow(Math.abs(kasteel.Y - basisKasteel.Y), 2));
                        return kasteel
                    }).sort(function(a, b){
                        return a.afstand > b.afstand;
                    });

                    resultatenTabel.innerHTML = "";

                    afstanden.forEach(function(afstand){
                        var tr = document.createElement("tr");
                        resultatenTabel.appendChild(tr);

                        $("<td>").text(afstand.name).appendTo(tr);
                        $("<td>").text(afstand.X).appendTo(tr);
                        $("<td>").text(afstand.Y).appendTo(tr);
                        $("<td>").text(afstand.wereld).appendTo(tr);
                        $("<td>").text(afstand.afstand.toFixed(2)).appendTo(tr);
                    });
                }

                filterKastelen();
                updateResults();

                $("#wereld dd a").click(function(){
                    wereld = $(this).text();
                    $("#wereld dd").removeClass("active");
                    $(this).parent().addClass("active");

                    filterKastelen();
                    updateResults();
                });

                console.log("Plugin geladen: afstanden");
            });
        });
block main
    div.row
        fieldset
            legend Input
            dl.sub-nav#wereld
                dt Wereld:
                dd.active: a#gras(href="#") gras
                dd: a#ijs(href="#") ijs
                dd: a#zand(href="#") zand
                dd: a#vuur(href="#") vuur
            label(for="kastelen") Kasteel:
            select#kastelen
        fieldset
            legend Resultaten
            table#results
                thead
                    th name
                    th X
                    th Y
                    th wereld
                    th afstand
                tbody
