extends layouts/app

block main
    div.button-group.secundary
        a.button.success(href="/page/afstanden").
            afstanden
        a.button(href="/page/laadKastelen").
            laad kastelen
